<footer>
    <div class="bold col-xs-4">
       <i class="fa fa-2x fa-phone text-primary"></i> Liên hê: <span id="phone">0375 839 222</span>
    </div>
    <div class="bold col-xs-8">
        <i class="fa fa-2x fa-map-marker text-danger"></i> Tiệm bánh Thiên Ân - LXSV Gò Vấp 380/41 Phạm Văn Chiêu, Phường 9, Quận Gò Vấp, TP. HCM
    </div>

</footer>

<script src="/dist/js/jquery.js"></script>
<script src="/dist/bootstrap3/js/bootstrap.min.js"></script>
<script src="/dist/js/script.js"></script>