<div id="noticaiconpane">
    <input type="text" class="form-control">
    <div class="clearfix padding-10"></div>
    <i style="margin:5px;" class= "btn btn-info notika-icon col-sm-1 col-xs-2 notika-app"></i>
    <i style="margin:5px;" class= "btn btn-info notika-icon col-sm-1 col-xs-2 notika-form"></i>
    <i style="margin:5px;" class= "btn btn-info notika-icon col-sm-1 col-xs-2 notika-windows"></i>
    <i style="margin:5px;" class= "btn btn-info notika-icon col-sm-1 col-xs-2 notika-bar-chart"></i>
    <i style="margin:5px;" class= "btn btn-info notika-icon col-sm-1 col-xs-2 notika-alarm"></i>
    <i style="margin:5px;" class= "btn btn-info notika-icon col-sm-1 col-xs-2 notika-arrow-right"></i>
    <i style="margin:5px;" class= "btn btn-info notika-icon col-sm-1 col-xs-2 notika-avable"></i>
    <i style="margin:5px;" class= "btn btn-info notika-icon col-sm-1 col-xs-2 notika-back"></i>
    <i style="margin:5px;" class= "btn btn-info notika-icon col-sm-1 col-xs-2 notika-calendar"></i>
    <i style="margin:5px;" class= "btn btn-info notika-icon col-sm-1 col-xs-2 notika-chat"></i>
    <i style="margin:5px;" class= "btn btn-info notika-icon col-sm-1 col-xs-2 notika-checked"></i>
    <i style="margin:5px;" class= "btn btn-info notika-icon col-sm-1 col-xs-2 notika-close"></i>
    <i style="margin:5px;" class= "btn btn-info notika-icon col-sm-1 col-xs-2 notika-cloud"></i>
    <i style="margin:5px;" class= "btn btn-info notika-icon col-sm-1 col-xs-2 notika-credit-card"></i>
    <i style="margin:5px;" class= "btn btn-info notika-icon col-sm-1 col-xs-2 notika-dollar"></i>
    <i style="margin:5px;" class= "btn btn-info notika-icon col-sm-1 col-xs-2 notika-dot"></i>
    <i style="margin:5px;" class= "btn btn-info notika-icon col-sm-1 col-xs-2 notika-down-arrow"></i>
    <i style="margin:5px;" class= "btn btn-info notika-icon col-sm-1 col-xs-2 notika-draft"></i>
    <i style="margin:5px;" class= "btn btn-info notika-icon col-sm-1 col-xs-2 notika-edit"></i>
    <i style="margin:5px;" class= "btn btn-info notika-icon col-sm-1 col-xs-2 notika-eye"></i>
    <i style="margin:5px;" class= "btn btn-info notika-icon col-sm-1 col-xs-2 notika-facebook"></i>
    <i style="margin:5px;" class= "btn btn-info notika-icon col-sm-1 col-xs-2 notika-file"></i>
    <i style="margin:5px;" class= "btn btn-info notika-icon col-sm-1 col-xs-2 notika-finance"></i>
    <i style="margin:5px;" class= "btn btn-info notika-icon col-sm-1 col-xs-2 notika-flag"></i>
    <i style="margin:5px;" class= "btn btn-info notika-icon col-sm-1 col-xs-2 notika-house"></i>
    <i style="margin:5px;" class= "btn btn-info notika-icon col-sm-1 col-xs-2 notika-ip-locator"></i>
    <i style="margin:5px;" class= "btn btn-info notika-icon col-sm-1 col-xs-2 notika-left-arrow"></i>
    <i style="margin:5px;" class= "btn btn-info notika-icon col-sm-1 col-xs-2 notika-mail"></i>
    <i style="margin:5px;" class= "btn btn-info notika-icon col-sm-1 col-xs-2 notika-map"></i>
    <i style="margin:5px;" class= "btn btn-info notika-icon col-sm-1 col-xs-2 notika-menu"></i>
    <i style="margin:5px;" class= "btn btn-info notika-icon col-sm-1 col-xs-2 notika-menus"></i>
    <i style="margin:5px;" class= "btn btn-info notika-icon col-sm-1 col-xs-2 notika-minus-symbol"></i>
    <i style="margin:5px;" class= "btn btn-info notika-icon col-sm-1 col-xs-2 notika-more-button"></i>
    <i style="margin:5px;" class= "btn btn-info notika-icon col-sm-1 col-xs-2 notika-next"></i>
    <i style="margin:5px;" class= "btn btn-info notika-icon col-sm-1 col-xs-2 notika-next-pro"></i>
    <i style="margin:5px;" class= "btn btn-info notika-icon col-sm-1 col-xs-2 notika-paperclip"></i>
    <i style="margin:5px;" class= "btn btn-info notika-icon col-sm-1 col-xs-2 notika-phone"></i>
    <i style="margin:5px;" class= "btn btn-info notika-icon col-sm-1 col-xs-2 notika-picture"></i>
    <i style="margin:5px;" class= "btn btn-info notika-icon col-sm-1 col-xs-2 notika-pinterest"></i>
    <i style="margin:5px;" class= "btn btn-info notika-icon col-sm-1 col-xs-2 notika-plus-symbol"></i>
    <i style="margin:5px;" class= "btn btn-info notika-icon col-sm-1 col-xs-2 notika-print"></i>
    <i style="margin:5px;" class= "btn btn-info notika-icon col-sm-1 col-xs-2 notika-promos"></i>
    <i style="margin:5px;" class= "btn btn-info notika-icon col-sm-1 col-xs-2 notika-refresh"></i>
    <i style="margin:5px;" class= "btn btn-info notika-icon col-sm-1 col-xs-2 notika-right-arrow"></i>
    <i style="margin:5px;" class= "btn btn-info notika-icon col-sm-1 col-xs-2 notika-search"></i>
    <i style="margin:5px;" class= "btn btn-info notika-icon col-sm-1 col-xs-2 notika-sent"></i>
    <i style="margin:5px;" class= "btn btn-info notika-icon col-sm-1 col-xs-2 notika-settings"></i>
    <i style="margin:5px;" class= "btn btn-info notika-icon col-sm-1 col-xs-2 notika-social"></i>
    <i style="margin:5px;" class= "btn btn-info notika-icon col-sm-1 col-xs-2 notika-star"></i>
    <i style="margin:5px;" class= "btn btn-info notika-icon col-sm-1 col-xs-2 notika-success"></i>
    <i style="margin:5px;" class= "btn btn-info notika-icon col-sm-1 col-xs-2 notika-support"></i>
    <i style="margin:5px;" class= "btn btn-info notika-icon col-sm-1 col-xs-2 notika-tax"></i>
    <i style="margin:5px;" class= "btn btn-info notika-icon col-sm-1 col-xs-2 notika-trash"></i>
    <i style="margin:5px;" class= "btn btn-info notika-icon col-sm-1 col-xs-2 notika-travel"></i>
    <i style="margin:5px;" class= "btn btn-info notika-icon col-sm-1 col-xs-2 notika-twitter"></i>
    <i style="margin:5px;" class= "btn btn-info notika-icon col-sm-1 col-xs-2 notika-up-arrow"></i>
    <i style="margin:5px;" class= "btn btn-info notika-icon col-sm-1 col-xs-2 notika-wifi"></i>

    <script>
        document.querySelectorAll('#noticaiconpane i').forEach(icon=>{
            icon.innerHTML = ' <span> ' + icon.className.replace('btn btn-info notika-icon col-sm-1 col-xs-2 ', '') + '</span>';
        });

        document.querySelector('#noticaiconpane input').addEventListener('keyup', function(){
            var value = this.value;
            document.querySelectorAll('#noticaiconpane i').forEach((item)=>{
                if(item.className.includes(value)){
                    item.style.display = 'block';
                }else{
                    item.style.display = 'none';
                }
            })
        });
    </script>
</div>